@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-primaria: #161717;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #21C063;
    --cor-quateraria: #272727;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}
body{
    /*height: 100vh;*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabercalho{
    padding: 2% 0% 0% 15%;
}

.cabercalho__menu{
    display: flex;
    gap: 80px;
}

.cabercalho__menu__links{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 15%;
    gap: 82px;
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
}

.apresentacao__titulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 2.25rem;
}

.apresentacao__titulo--destaque{
    color: var(--cor-terciaria);
}

.apresentacao__texto{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0px;
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-quateraria);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding: 24px;
}

@media (max-width: 1200px){
    .cabercalho{
        padding: 10%;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .cabercalho__menu{
        justify-content: center;
    }
}